.questionDetailPage {
  position: relative;
  padding-bottom: 50px;
  &__resolve {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: yellow;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 0, 0.1);
    padding: 6px 12px;
    border-radius: 5px;
    .ico {
      margin-right: 6px;
    }

  }
  &__content {
    margin-top: 6px;
    &--ttl {
      font-size: 18px;
      margin-bottom: 12px;
    }
  }
  &__files {
    > h3 {
      font-size: 16px;
    }
    margin-top: 25px;
    a {
      // display: block;
    }
    &--item {
      margin-bottom: 4px;
    }
  }
  &__addAnswer {
    margin-top: 30px;
    display: flex;
    width: fit-content;
    padding: 6px 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grayColor;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s linear;
    &:hover {
      background-color: rgb(29, 102, 212);
    }
    &--ttl {
      margin-left: 8px;
    }
  }
  &__comments {
    > h3 {
      margin-top: 12px;
      margin-bottom: 16px;
    }
  }
}