.post__list {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;

}
.post__end {
  text-align: center;
  display: block;
  padding: 50px 0;
  font-size: 14px;
}

// POST ITEM
.post-item {
  margin: 12px;
  padding: 8px 16px;
  width: min(100%, 350px);
  background-color: $grayColor;
  border: 1px solid $borderColor;
  border-radius: 10px;
  cursor: pointer;
  list-style: none;
  @include sp {
    margin: 0;
    margin-bottom: 24px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    > a {
      text-decoration: none;
      flex: 1;
      > span {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }
  }
  &:hover {
    border-color: rgba(168, 179, 207, 0.5);

    .post-item__link {
      opacity: 1;
    }

    .post-item__menu {
      opacity: 1;
    }
  }

  &__head {
    position: relative;
    display: flex;
    justify-content: flex-end;

    // .avatar {
    //   position: absolute;
    //   left: 0;
    // }
  }
  &__user {
    flex: 1;
  }
  &__link {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    justify-content: center;
    border-radius: 6px;
    opacity: 0;

    &:hover {
      background-color: #454c53;
    }

    @include tablet {
      opacity: 1;
    }

    a {
      display: flex;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      font-size: 12px;
    }

    &--ico {
      margin-left: 6px;
    }
  }

  &__menu {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    margin-left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: relative;

    @include tablet {
      opacity: 1;
    }

    &.is-active {
      background-color: #454c53;
    }

    &:hover {
      background-color: #454c53;
    }

    &--ico {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__content {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__ttl {
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.4;
    flex: 1;
    // height: 100px;
  }

  &__info {
    font-size: 12px;
    margin: 6px 0;
    color: rgba(168, 179, 207, 0.5)
  }

  &__img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__actions {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--item {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(168, 179, 207, 0.5);

      &:hover {
        color: #39e58c;

        .ico {
          background-color: rgba(57, 229, 140, 0.1);
        }
      }

      .ico {
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
        margin: 0 6px;
      }

      .num {
        font-weight: bold;
      }
    }
  }
}

// POST ITEM SHORT
.post-itemshort {
  list-style: none;
  margin-bottom: 24px;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.2s linear;
  cursor: pointer;
  &:hover {
    background-color: $borderColor;
  }
  &__wrapper {
    display: flex;
  }
  &__thumbnail {
    width: 180px;
    height: 120px;
    min-width: 180px;
    overflow: hidden;
    border-radius: 8px;
  }
  &__content {
    margin-left: 12px;
    &--title {
      font-size: 14px;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    &--desc {
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    &--time {
      font-size: 10px;
      color: rgb(121, 121, 121);
    }
  }
}

// POST DETAIL
.post-detail {
  // border-left: 1px solid $borderColor;
  // border-right: 1px solid $borderColor;
  // padding: 0 20px;
  // margin: 0 -24px;
  // @include tablet {
  //   padding: 0;
  //   border: none;
  //   margin: 0;
  // }
  padding-bottom: 50px;

  &__thumbail {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
  }

  &__info {
    margin: 12px 0;
    display: flex;
    align-items: center;

    &--author {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
    }

    &--name {
      margin-left: 6px;
    }

    &--date {
      font-size: 12px;
      margin-left: 20px;
      flex: 1;
      text-align: right;
    }
  }

  &__tldr {
    padding: 0 12px;
    border-left: 2px solid #ce3df3;
    margin-top: 10px;

    span {
      color: #ce3df3;
      font-weight: bold;
    }
  }

  &__content {
    margin-top: 24px;
    padding: 0 20px;
  }

  &__reactInfo {
    margin-top: 30px;

    span {
      margin-left: 12px;
      font-size: 14px;
      color: #a8b3cf;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__actions {
    margin-top: 12px;
    padding: 4px 0;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    display: flex;
    margin: 0 -6px;
    list-style: none;
    margin-top: 8px;
  }

  &__action {
    flex: 1;
    margin: 0 6px;
    &.flex-2 {
      flex: 2;
    }
    &.is-active {
      color: rgb(59, 235, 59);
      font-weight: bold;
    }
    &.is-save {
      color: rgb(206, 235, 59);
      font-weight: bold;
    }
    button {
      width: 100%;
    }
    &--wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 6px 0;
      border-radius: 6px;

      &:hover {
        background-color: $grayColor;
      }
    }
    &--ico {
      @include tablet {
        font-size: 10px;
      }
    }
    &--text {
      font-size: 14px;
      margin-left: 6px;
      @include tablet {
        font-size: 10px;
      }
    }
  }

  &__comments {
    margin-top: 25px;
  }

  &__related {
    margin-top: 50px;

    &--list {
      display: flex;
      margin-left: -12px;
      margin-right: -12px;
      flex-wrap: wrap;
    }
  }
}
// post list display list
.post__list.list {
  display: block;
  .post-item {
    width: 100%;
  }
  .post-item__img {
    display: none;
  }
  .post-item__actions {
    display: none;
  }
}