.table {
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;
    min-width: 900px;
    &__wrapper {
        width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        padding-bottom: 10px;
        &::-webkit-scrollbar {
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            background: #b5b5b5;
        }
        
        &::-webkit-scrollbar-thumb {
            background: #5b606d;
            cursor: pointer;
            border-radius: 10px;
            margin-top: 5px;
        }
        
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
    thead {
        th {
            background-color: $borderColor;
            padding: 6px 12px;
            text-align: left;
            &:first-child {
                border-top-left-radius: 4px;
            }
            &:last-child {
                border-top-right-radius: 4px;
            }
        }
    }
    tbody {
        tr:nth-child(even) {
            background-color: #171c23;
        }
        td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 400px;
            padding: 6px 12px;
            &.center {
                justify-content: center;
                text-align: center;
            }
            span.active, span.block, span.resolve, span.notResolve {
                padding: 6px;
                border-radius: 4px;
                font-size: 11px;
                font-weight: bold;
            }
            span.active {
                color: rgb(67, 206, 111);
                background-color: rgba(67, 206, 111, 0.1);
            }
            span.resolve {
                color: rgb(67, 206, 111);
                background-color: rgba(67, 206, 111, 0.1);
            }
            span.notResolve {
                color: rgb(194, 206, 67);
                background-color: rgba(194, 206, 67, 0.1);
            }
            span.block {
                color: rgb(205, 40, 40);
                background-color: rgba(205, 40, 40, 0.1);
            }
            span.tag {
                font-size: 11px;
                padding: 4px 6px;
                border-radius: 3px;
                background-color: rgba(22, 131, 214, 0.1);
                color: rgb(22, 131, 214);
                font-weight: bold;
                margin: 0 2px;
                white-space: nowrap;
            }
            > a {
                text-decoration: none;
                padding: 10px;
                width: 100%;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 400px;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    &__actions {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    &__actionsItem {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        margin: 0 4px;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.2s linear;
        background-color: $grayColor;
        a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &.delete {
            &:hover {
                background-color: rgb(205, 40, 40);
            }
        }
        &.view {
            &:hover {
                background-color: rgb(40, 76, 205);
            }
        }
        &.edit {
            &:hover {
                background-color: rgb(67, 206, 111);
            }
        }
    }
}